<!-- Les parenthèses indiques des valeurs allant de
la vue vers le component (ici, le click sur le h1 
déclenche la méthode AppComponent.methode()) -->
<h1 (click)="methode()">{{title}}</h1>
<!-- Les crochets indique des valeurs allant du
component vers la vue
exemple: [class]="title" -- l'élément aura une classe
correspondant au contenu de la variable title du component
Certain attributs angular comme le ngModel font transiter
les valeurs de la vue vers le component et inversement
simultanement, elles sont indiquées entre crochets et
parenthèses [()], banana in a box -->
<input type="text" [(ngModel)]="title" [hidden]="inputShown">

<!-- en utilisant le [hidden] qui attend une variable
de type boolean, faire en sorte que l'input soit
affiché ou non au click sur un bouton en dessous -->
<button (click)="toggleInput()">Toggle</button>
<input type="checkbox" [(ngModel)]="inputShown">
<!-- En utilisant le ngModel, faire 2 input de type
number et indiqué en dessous le résultat de l'addition
de ces deux input -->

<input type="number" [(ngModel)]="a">
<input type="number" [(ngModel)]="b"> {{a+b}}

<p>
    <label>Nom :</label>
    <input type="text" [(ngModel)]="personne.nom">
</p>
<p>
    <label>Prénom :</label>
    <input type="text" [(ngModel)]="personne.prenom">
</p>
<p>
    <label>Age :</label>
    <input type="number" [(ngModel)]="personne.age">
</p>
<label>J'ai un chien</label>
<input type="checkbox" [(ngModel)]="chienForm">

<section [hidden]="!chienForm">
    <p>
        <label>Nom du Chien :</label>
        <input type="text" [(ngModel)]="personne.chien.nom">
    </p>
    <p>
        <label>Race du Chien :</label>
        <input type="text" [(ngModel)]="personne.chien.race">
    </p>
</section>
<button (click)="afficher()">Afficher</button>